.intro {
  background-image: url("../images/src/intro-bg.png");
  background-size: cover;
  background-position: center;
  padding: 160px 0 77px;
  &-main {
    &__inner {
      position: relative;
      max-width: 970px;
      background: #fff;
      opacity: 0.8;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
      padding: 85px 15px;
      margin: 0 auto;
      text-align: center;
      &::before {
        content: url("../images/src/brick.png");
        position: absolute;
        top: -135px;
        left: 50%;
        transform: translateX(-75%);
      }
    }
    &__title {
      margin-bottom: 15px;
    }
    &__subtitle {
      position: relative;
      padding-bottom: 30px;
      margin: 0 auto 15px;
      max-width: 770px;
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      &:after {
        content: "";
        position: absolute;
        background-color: $black;
        width: 150px;
        height: 2px;
        bottom: 0;
        @include x-center;
      }
    }
    &__text {
      max-width: 580px;
      margin: 0 auto;
    }
    &__link {
      display: inline-block;
      color: $green;
      margin-top: 53px;
      padding-left: 35px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: -3px;
        left: 0;
        background-image: url("../images/src/link.svg");
        width: 21px;
        height: 21px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
